# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Android build
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/app/release/

# iOS build
ios/build/
ios/Pods/
ios/*.xcworkspace

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Expo credentials
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
